* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.about {
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 420px;
}

.about-text {
  width: 550px;
  max-width: 95%;
  margin: 0 auto;
}
